.usaCounselor_bg{
    background: linear-gradient(93deg, rgb(168, 93, 43) 0%, rgb(167,77,15) 100%);
}

.usaCounselor_svg{
    opacity: 0;
    visibility: hidden;
}
.usaCounselor:hover .usaCounselor_svg{
    opacity: 1;
    visibility: visible; 
    transition: all 0.24s ease;
}

@media screen and (max-width : 640px) {
    .usaCounselor svg {
        width: 353px;
        height: 353px;
    }
}