* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }
  
  .gallery-bg {
    background: linear-gradient(269.94deg, rgba(29, 80, 160, 0.2) 8.85%, rgba(7, 33, 178, 0.2) 87.83%), linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), linear-gradient(87.26deg, #3793FF -3.49%, #0017E4 97.72%);
  
  }
  
  .gallery-image {
    background-color: #3773ff;
  }
  
  .modal-bg {
    background: linear-gradient(90.67deg, rgba(63, 189, 178, 0.2) 7.74%, rgba(204, 238, 140, 0.2) 95.9%), linear-gradient(67.84deg, #01A8C4 -1.82%, #FBFE7F 106.59%);
  }
  
  .modal-box {
    padding: 0;
    width: 380px;
    
  }
  @media screen and (max-width: 640px) {
    .modal-box{
      width: 380px;
    }
  }
  .gallery-items {
    flex: 1 0 auto;
  }
  
  
  .gallery-items>img {
    min-width: 120px;
    max-width: 368px;
    height: auto;
    aspect-ratio: 172/368;
    background-color: red;
  }
  
  .gallery-one>div {
    animation: galleryanimate 120s -120s linear infinite;
    will-change: transform;
  }
  
  .gallery-one>div:last-child {
    animation: galleryanimate2 120s -60s linear infinite;
  }
  
  .gallery-two>div {
    animation: galleryanimate3 120s -120s linear infinite;
    will-change: transform;
  }
  
  .gallery-two>div:last-child {
    animation: galleryanimate4 120s -60s linear infinite;
  }
  
  .gallery-one:hover>div,
  .gallery-two:hover>div {
    -webkit-animation-play-state: paused;
    -moz-animation-play-state: paused;
    -ms-animation-play-state: paused;
    -o-animation-play-state: paused;
    animation-play-state: paused;
  }
  
   
    @keyframes galleryanimate {
      0% {
        transform: translateX(100%);
      }
      100% {
        transform: translateX(-100%);
      }
    }
    
    
    @keyframes galleryanimate2 {
      0% {
        transform: translateX(0);
      }
      100% {
        transform: translateX(-200%);
      }
    }  
  
    @keyframes galleryanimate3 {
      0% {
        transform: translateX(-100%);
      }
      100% {
        transform: translateX(100%);
      }
    }  
    @keyframes galleryanimate4 {
      0% {
        transform: translateX(-200%);
      }
      100% {
        transform: translateX(0);
      }
    }    
  
  
  
  .image-gallery:hover .display-block {
    width: 368px;
    height: 100%;
  }
  
  
  /* ohee code */

  /* .main{
    background: linear-gradient(87.26deg, #3793FF -3.49%, #0017E4 97.72%),
    linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2));
    ;
  }
  
  .special{
    background: linear-gradient(67.84deg, #01A8C4 -1.82%, #FBFE7F 106.59%);
  }
  
  .gallery-items{
    flex: 1 0 auto;
    overflow: hidden;
  }
  
  #slideContainer>div {
    animation: slider 120s -120s  linear  infinite ;
    will-change: transform;
  }
  
  
  #slideContainer> div:last-child{
    animation: slider2 120s -60s   linear infinite;
  
  }
  
  #slideContainer2>div {
    animation: slider3  120s -120s  linear  infinite ;
    will-change: transform;
  }
  #slideContainer2>div:last-child {
    animation: slider4  120s -60s  linear  infinite ;
  }
  #slideContainer2>div {
    animation: slider 120s -120s  linear  infinite reverse ;
    will-change: transform;
  }
  
  #slideContainer:hover>div, #slideContainer2:hover>div {
    animation-play-state:paused
  }
  
  
  @keyframes slider {
    0%{
      transform: translateX(100%);
    }
    to{
      transform: translateX(-100%);
    }
  }
  
  @keyframes slider2 {
    0%{
      transform: translateX(0%);
    }
    to{
      transform: translateX(-200%);
    }
  }
  
  @keyframes slider3 {
    0%{
      transform: translateX(-100%);
    }
    to{
      transform: translateX(100%);
    }
  }
  
  @keyframes slider4 {
    0%{
      transform: translateX(-200%);
    }
    to{
      transform: translateX(0%);
    }
  } */